.banner{margin-bottom: 12px;}
.banner,.banner-slide,.banner-mid{width:100%;position: relative;overflow: hidden;}
.banner-slide ul img{max-height: 420px;}
.banner-slide ul{display: -webkit-box;display: -ms-flexbox;  display: -webkit-flex; display: flex;}
.banner-slide ul li{-webkit-box-flex: 1;position: relative;}
.indicator{position: absolute;bottom:10px;left:0;width: 100%;text-align: center;}
.indicator a{width: 4px;height: 4px;border-radius: 2px;background: #ffffff;opacity: 0.5;margin: 0 3px;}
.indicator a.active{width: 12px;opacity: 1;}
.banner-mid{margin-bottom: 12px;}
.banner-mid .indicator{bottom: 5px;}
.banner-mid .indicator a{width: 8px;height: 8px;border-radius: 50%;margin: 0 5px;}
.banner-mid .indicator a.active{background: #ae0e16;opacity: 0.7;}
.banner-mid ul li{padding: 0 15px;}
.banner-slide ul li span{position: absolute;top:50%;margin-top: -15px;left:0;width:100%;text-align:center;font-size: 14px;color: #ffffff;font-family: PingFangSC-Medium;}
